.wrapper {
  display: flex;
  justify-content: space-evenly;
  max-width: 50rem;
  margin: 0 auto;
  border-radius: 1rem;
	background-color: #9d9da7;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.wrapper input {
  font-size: 3.5rem;
  font-family: inherit;
  outline: none;
  border: none;
  background-color: transparent;
  color: #23232f;
  width: 80%;
}
