.btn {
  background-color: #23232f;
  color: #d8d8dc;
  border-radius: 0.5rem;
	font-size: 2.5rem;
	line-height: 0;
	padding: 2rem;
	border: none;
  cursor: pointer;
}

.btn:hover,
.btn:active{
	background-color: #111218;
}