.wrapper {
  display: flex;
  justify-content: space-between;
	max-width: 50rem;
	cursor: pointer;
}

.wrapper:hover span{
	color: #6e6e71;
}


.input {
  font-size: 3.5rem;
  font-family: inherit;
  outline: none;
  border: none;
  background-color: transparent;
  color: #111218;
  width: 80%;
}
span {
  font-size: 3.5rem;
  cursor: pointer;
  letter-spacing: .3rem;
	color: #0d0d12;
}
  

.btn {
  background-color: #23232f;
  color: #d8d8dc;
  border-radius: 0.5rem;
  font-size: 2.5rem;
  line-height: 0;
  padding: 2rem;
  border: none;
}

.btn:hover,
.btn:active {
  background-color: #111218;
}
